.download-bar.first{
        margin-bottom: -8px;
}
.navigation > .inner{
    display: flex;
}
.navigation > .inner > a{
    border-bottom: 1px dotted green;
	font-size: 1.5em;	
    flex-grow: 1;
	margin-right: 10px;
}
.navigation > .inner> a:hover{
    text-decoration: none;
}